/binomial_distribution_calculator/.bdc
/binomial_distribution_calculator/binomial_distribution_calculator/__pycache__
/binomial_distribution_calculator/calculator/__pycache__
/binomial_distribution_calculator/calculator/migrations/__pycache__
/binomial_distribution_calculator_flask/.bdc