<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock title %} </title>
    <link rel='stylesheet' href="{% static 'bootstrap.css' %}">
    <link rel='stylesheet' href="{% static 'index.css' %}">
    {% block css_files %}{% endblock css_files %}
</head>

<body>
    {% include "header.html" %}

    <div class='container-fluid mt-5 m-3 py-5'>
        <div class='row'>
            <div class='col-2'> 
                <div class='col-2 position-fixed start-0 px-3' id='sidebar'> 
                    {% block sidebar %}{% endblock sidebar %}
                </div>
            </div>
            
            <div class='col-8 border border-black p-5'>
                {% block content %}
                {% endblock content %}
            </div>
            
            <div class='col-2'> </div>
        </div>
    </div>
</body>

<script src={% static "bootstrap.bundle.min.js" %}></script>

</html>