{% extends "base.html" %}
{% load static %}
{% block title %} Binomial Distribution Calculator {% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static " calculator/index.css" %}">
{% endblock css_files %}

{% block content %}
<div class="container-fluid">
  <p class='text-primary fs-2 fw-semibold text-center'> Our Team at Binomial Distribution Calculator </p>
  <p class='fs-5 text-center'> We are a dynamic group of passionate programmers dedicated to creating innovative and efficient solutions. With
    diverse expertise across front-end design, back-end development, UI/UX design, and research, we bring ideas to life
    through collaboration and creativity. Whether crafting user-friendly interfaces or engineering robust
    functionalities, we strive for excellence in every project we undertake. Together, we are shaping the future of
    programming, one line of code at a time!</p>
  <div class="row justify-content-center my-5">
    <!-- Card 1 -->
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <img class="img-fluid rounded" src="{% static 'valdeabella.jpeg' %}" alt="Valdeabella"
            style="height: 100px; width: auto;">
          <h5 class="card-title mt-3">Seanrei Ethan Valdeabella</h5>
          <p class="card-text">Back-End Programmer</p>
          <p class="card-text">seanrei.ethan23@gmail.com</p>
          <!-- Links -->
          <a href="https://www.facebook.com/seanrei.ethan23/" class="text-center text-decoration-none mx-1"
            target="_blank">
            <img src="{% static "facebook.png" %}" alt="Facebook" style="width: 25px;">
          </a>
          <a href="https://linkedin.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "linkedin.png" %}" alt="Linkedin" style="width: 25px;">
          </a>
          <a href="https://github.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "github.png" %}" alt="Github" style="width: 25px;">
          </a>
        </div>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <img class="img-fluid rounded" src="{% static 'panggat.jpg' %}" alt="Panggat"
            style="height: 100px; width: auto;">
          <h5 class="card-title mt-3">Adrian Panggat</h5>
          <p class="card-text">Front-End Programmer</p>
          <p class="card-text">adrian.panggattt@gmail.com</p>
          <!-- Links -->
          <a href="https://www.facebook.com/seanrei.ethan23/" class="text-center text-decoration-none mx-1"
            target="_blank">
            <img src="{% static "facebook.png" %}" alt="Facebook" style="width: 25px;">
          </a>
          <a href="https://linkedin.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "linkedin.png" %}" alt="Linkedin" style="width: 25px;">
          </a>
          <a href="https://github.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "github.png" %}" alt="Github" style="width: 25px;">
          </a>
        </div>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <img class="img-fluid rounded" src="{% static 'torres.jpg' %}" alt="Torres"
            style="height: 100px; width: auto;">
          <h5 class="card-title mt-3">Tracy Torres</h5>
          <p class="card-text">UI Designer</p>
          <p class="card-text">tracytorres829@gmail.com</p>
          <!-- Links -->
          <a href="https://www.facebook.com/seanrei.ethan23/" class="text-center text-decoration-none mx-1"
            target="_blank">
            <img src="{% static "facebook.png" %}" alt="Facebook" style="width: 25px;">
          </a>
          <a href="https://linkedin.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "linkedin.png" %}" alt="Linkedin" style="width: 25px;">
          </a>
          <a href="https://github.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "github.png" %}" alt="Github" style="width: 25px;">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center my-5">
    <!-- Card 4 -->
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <img class="img-fluid rounded" src="{% static 'DS.jpg' %}" alt="Delos Santos"
            style="height: 100px; width: auto;">
          <h5 class="card-title mt-3">Gladys Delos Santos</h5>
          <p class="card-text">UI Designer</p>
          <p class="card-text">lilokoto1388@gmail.com</p>
          <!-- Links -->
          <a href="https://www.facebook.com/seanrei.ethan23/" class="text-center text-decoration-none mx-1"
            target="_blank">
            <img src="{% static "facebook.png" %}" alt="Facebook" style="width: 25px;">
          </a>
          <a href="https://linkedin.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "linkedin.png" %}" alt="Linkedin" style="width: 25px;">
          </a>
          <a href="https://github.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "github.png" %}" alt="Github" style="width: 25px;">
          </a>
        </div>
      </div>
    </div>
    <!-- Card 5 -->
    <div class="col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-body text-center">
          <img class="img-fluid rounded" src="{% static 'calapao.jpg' %}" alt="Calapao"
            style="height: 100px; width: auto;">
          <h5 class="card-title mt-3">Renz Calapao</h5>
          <p class="card-text">Researcher</p>
          <p class="card-text">renzcalapao12@gmail.com</p>
          <!-- Links -->
          <a href="https://www.facebook.com/seanrei.ethan23/" class="text-center text-decoration-none mx-1"
            target="_blank">
            <img src="{% static "facebook.png" %}" alt="Facebook" style="width: 25px;">
          </a>
          <a href="https://linkedin.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "linkedin.png" %}" alt="Linkedin" style="width: 25px;">
          </a>
          <a href="https://github.com/" class="text-center text-decoration-none mx-1" target="_blank">
            <img src="{% static "github.png" %}" alt="Github" style="width: 25px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}