<nav class="navbar navbar-expand-lg fixed-top bg-primary py-3 shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand text-light fw-bold" href="/"><i class="fas fa-calculator me-2"></i>Binomial Distribution Calculator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-2">
                <li class="nav-item px-2">
                    <a class="nav-link active text-light fw-semibold nav-link-hover" href="/"><i class="fas fa-home me-1"></i>Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link active text-light fw-semibold nav-link-hover" href="/tutorial/"><i class="fas fa-book me-1"></i>Tutorial</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link active text-light fw-semibold nav-link-hover" href="/faqs/"><i class="fas fa-question-circle me-1"></i>FAQs</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link active text-light fw-semibold nav-link-hover" href="/members/"><i class="fas fa-users me-1"></i>Members</a>
                </li>
                <!-- <li class="nav-item px-2">
                    <a class="nav-link active text-light fw-semibold nav-link-hover" href="/other_calculators/"><i class="fas fa-calculator me-1"></i>Other Calculators</a>
                </li>  -->
            </ul>
        </div>
    </div>
</nav>